<div class="container">
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a routerLink="/" class="dark-text">YOLKED</a>
      </div>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a routerLink="/workouts" routerLinkActive="active-link">Workouts</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/bodyweight" routerLinkActive="active-link">Bodyweight</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/food" routerLinkActive="active-link">Food</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet> <!-- This is where the routed components will be displayed -->
  </main>
  <footer>
    <p>&copy; 2024 Yolked Workout Logger</p>
  </footer>
</div>
